@model My.AppStore.Models.ProductModel
@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="col-xs-4 well-sm">
        @foreach (var img in Model.Images)
        {
            <img src="@img" class="img-rounded" style="max-width:100%" />
        }
    </div>
</div>

<div class="row">
    <div class="col-xs-6 well">
        <div>
            <h2>@Model.Name</h2>
            <p>@Model.Price.Value.ToString("C")</p>
            <p>@Model.Description</p>
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.ID)
                @Html.HiddenFor(x => x.Name)
                @Html.HiddenFor(x => x.Price)
                @Html.HiddenFor(x => x.Description)
                <input type="submit" class="btn btn-primary" value="Add To Cart" />
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 well">
        <div>
            <input type="button" value="Write Review" onclick="location.href='@Url.Action("Create", "Reviews", new { name = Model.Name, id = Model.ID })'" />
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>By:</th>
            <th>Rating</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Reviews.Any())
        {
            foreach (var review in Model.Reviews)
            {
                <tr>
                    <td>@review.UserEmail</td>
                    <td>@review.Rating/10</td>
                    <td>@review.Body</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>The Guardians</td>
                <td>?/10</td>
                <td>No reviews have been left yet. Be the first to write one!</td>
            </tr>
        }
    </tbody>
</table>
